body {
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rochester', cursive;
    font-family: 'Cabin', sans-serif;
}

header {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 1;
}

.header-top-wrapper {
    background: #6D91DC;
}

.content-container {
    width: 1296px;
    margin: 0 auto;
}

.header-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    box-sizing: border-box;
}

.header-top-menu-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-top-menu-logo span {
    color: #F8FDFE;
    font-family: Rochester;
    font-size: 28px;
}

.header-top-menu a {
    text-decoration: none;
}

.header-top-menu-cart {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-top-menu-cart span {
    color: #F8FDFE;
    font-size: 16px;
    line-height: 24px;
}

.btn-cart {
    border: none;
    background-color: #6D91DC;
    position: relative;
    cursor: pointer;
}

.btn-cart span {
    position: absolute;
    top: 17px;
    right: 19px;
    color: #F8FDFE;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
}

.header-bottom-wrapper {
    background: #FFF;
} 

.header-bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-menu-list {
    display: flex;
    gap: 40px;
}

.header-bottom-menu-list-item a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 24px;
}

main {
    background: #EEEEEF; 
    margin-top: 104px; 
}

main h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8;
    padding: 36px 0 23px 0 ;
    margin-bottom: 56px;
}

form {
    display: flex;
    justify-content: space-around;
}

.main-heading {
 font-size: 20px;
 font-weight: 700;
 line-height: 24px;
 margin-bottom: 16px;
}

.main-heading-delivery-adress {
    margin-bottom: 8px;
}

.main-heading-confirm-order {
    margin-bottom: 3px;
}

.input-container {
    width: 416px;
    display: flex; 
    flex-direction: column; 
    gap: 16px;
    margin-bottom: 32px; 
}

.input-container label{
    font-size: 16px;
    line-height: 24px;
    position: relative;
}
 
.input-image-rezet {
    position:absolute;
    top: 32px;
    right: 10px;
    visibility: hidden; 
    
}

.input-container:focus-within .input-image-rezet {
    visibility: visible;
}  


 .input-container-textarea {
    gap: 0;
} 

.input-container input,
.input-container textarea {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    caret-color: #8E8E8E; 
    resize: none;
    font-family: 'Cabin', sans-serif;
}


.input-container input:focus,
.input-container textarea:focus {
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline:none;
} 

.input-container ::placeholder {
    color: #8E8E8E;
    font-size: 16px;
    line-height: 24px;
}

.date-container {
    margin-bottom: 34px;
}

.date-container input {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    font-size: 16px;
    line-height: 24px; 
}

 .date-container label {
   font-size: 16px;
   line-height: 24px;
} 

.main-description-callback {
    color: #8E8E8E;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.radio-btn-container-payment-method {
    margin-bottom: 121px 
}

.radio-btn-container label {
    font-size: 16px;
    line-height: 24px; 
    margin-left: 4px;
} 

.heading-payment-method {
    margin: 32px 0 24px;

} 

.right-form-part {
    width: 526px;
    height: 456px;
    border-radius: 4px;
    background: #F5F5F5;
    padding: 40px;
    box-sizing: border-box;
} 

.heading-your-oder {
margin-bottom: 32px;
}

.image-sashimi {
    width: 165px;
    height: 120px;
}

.right-form-part-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 32px; 
    margin-bottom: 42px;  

}
 .sashimi-pack {
    display: flex;
    flex-direction: column;
    gap: 8px;
} 

.sashimi-pack-description-variety{
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    color: #1F1F1F; 
}

.description-portions {
    color:  #8E8E8E; 
    border-top: 1px solid #A8A8A8;
}


.sashimi-pack span {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    padding: 4px 8px;
    box-sizing: border-box;
    width: 53px;
    text-align: center;
}

.right-form-part-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    width: 86px;
}

 .right-form-part-total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #A8A8A8;
    padding-top: 8px;
    box-sizing: border-box;
    margin-bottom: 32px;  
} 

.right-form-part-total p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1F1F1F;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.btn {
    border-radius: 4px;
    background: #3D76BA;  
    padding: 8px 24px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    min-width: 215px;
    color: #F8FDFE;
    margin-top: 16px; 
}

.btn:hover {
    background: #63A1EB;
}
.btn-reset {
    color: #1F1F1F;
    background: #DEDEDE;
}

.btn-reset:hover {
    background: #EEE;
}

footer {
    background: #6D91DC;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-wrapper span {
    color: #F8FDFE;
    font-size: 16px;
    line-height: 24px;
    padding: 32px 0 32px;
}